@tailwind base;
@tailwind components;
@tailwind utilities;

/* If you are using the default Vite setup, 
   make sure you delete any existing styles in this file 
   and replace them with these 3 lines.
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* match bg-slate-950 */
}